/**
    No, wait, this isn't a template?! :O
**/

html,body{height:100%;}

.navbar{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

body {
    padding-top:20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    box-sizing:border-box;
    height:100%;
}

li{
  list-style-position: inside;
  font-size:1.1em;
}
.custom-navbar{
  padding-bottom:15px;
}

.row > *{
  margin-bottom: 20px;
}

section{
  position:relative;
  top:-5%;
  padding: 6rem 1.5rem;
  text-align: center;
  min-height: 97%;
  height: 97%;
  min-width:100%;
  display:table;
  color:white;
  border-bottom: 1px solid #FF9100;
}
.title{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 2px solid #FF6D00;
  display: inline-block;
  margin-bottom: 30px;
}

/** colors: **/
.navbar-shadow{
  box-shadow: 0px 3px 15px 2px rgba(96, 105, 87, 0.36);
}
.hero{
  background-color:#7CB342;
}

.hero-navbar{
  background-color: #558B2F;
}

.portfolio{
  background-color: #1E88E5;
}
.portfolio p a {
	background-color:#d7dfff;
}
.portfolio-navbar{
  background-color: #1565C0;
}
.about{
  background-color: #E53935;
}
.about-navbar{
  background-color: #C62828;
}
.contacts{
  background-color: #757575;
}
.contacts-navbar{
  background-color: #424242;
}

.accent{
  background-color:#FF6D00;
}


/**hero section **/
.intro-title{
  font-size: 2em;
  text-shadow: 1px 1px rgba(0, 0, 17, 0.16);
}

.whoami{
  font-family: monospace;
}

.custom-btn-primary{
  color: #fff;
  text-shadow: 0.5px 0.5px rgba(255, 145, 0, 0.59);
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #FF6D00;
  padding: 15px 10px;
  margin-top:40px;
  font-size: 1em;
  background-color:#FF9100;
}
a:hover{
    transform: translateY(1px);
}
.custom-btn-primary:active,
.custom-btn-primary:focus,
.custom-btn-primary:visited, .custom-btn-primary:hover{
  border: 1px solid #FF6D00;
  background-color:#FF6D00;
  outline: none !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  transform: translateY(2px);
}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  color:black;
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

/** portfolio **/
.card {
  color:black;
  border: 0px;
  box-shadow: 6px 5px 10px 3px rgba(0,0,0,.14);
  transition: box-shadow 0.5s;
}
.card:hover{
  box-shadow: 9px 9px 18px 10px rgba(0,0,0,.14);
}
.card-tags{
  color: #808080;
  letter-spacing: 0.1em;
}
.card-links{
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  text-align: right!important;
}
/** Contacts **/
.social{
  font-family:monospace;
}
.social-item{
  list-style: none;
  margin-bottom:10px;
}
.social-item > a:hover{
  text-decoration: none;
  font-weight: bold;
}
.social > p{
}


.contacts-input{
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0;
  color: #fff;
  border-radius:0px;
}
.contacts-input:focus{
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0;
  color: #fff;
  border-radius:0px;
}
.contacts-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ababab;
}
.contacts-input::-moz-placeholder { /* Firefox 19+ */
  color: #ababab;
}
.contacts-input:-ms-input-placeholder { /* IE 10+ */
  color: #ababab;
}
.contacts-input:-moz-placeholder { /* Firefox 18- */
  color: #ababab;
}

.contacts-input-text{
    border-bottom: 1px solid #FFF;
}
.contacts-input-text:focus{
  border-bottom: 1px solid #FF6D00;
  box-shadow: 0 0 0 0;
}

.contacts-textarea{
  padding:5px;
  border: 1px solid #FFF;
}
.contacts-textarea:focus{
  border: 1px solid #FF6D00;
  box-shadow: 0 0 0 0.2rem #ff70042e;
}
.contacts-send{
  border: 1px solid #FF6D00;
  background-color:#FF9100;
}
.contacts-send:active,
.contacts-send:focus,
.contacts-send:visited, .contacts-send:hover{
  border: 1px solid #FF6D00;
  background-color: #FF6D00;
  outline: none !important;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/** Footer **/

.site-footer {
  padding-top:20px;
  padding-bottom:5px;
  margin: 0px auto;
}



/** Responsive stuff **/
@media (min-width: 576px) {
  .custom-btn-primary{
    font-size: 0.6em;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media  (min-width: 768px) {
  .intro-title{
      font-size: 2.5em;
  }
  section{
    padding: 8rem 1.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .intro-title{
      font-size: 4.5em;
    }
  .whoami{
      font-size: 1.5em;
  }
    .custom-btn-primary{
      font-size: 1em;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #hero{
        margin-top:2rem;
    }
}
